<form action="/form" method="post">
  <label for="name"><input type="text" id="name" name="name">Name<br>
  <input type="password" name="password">Password</input><br>
  <input type="email" name="email">Email</input><br>
  <input type="url" name="url">URL</input><br>
  <input type="number" name="number">Número</input><br>
  <input type="date" name="date">Fecha</input>input><br>
  <button type="submit">Enviar</button>
</form>